<%= form_for(@container) do |f| %>
  <% if @container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% @container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room %><br>
    <%= collection_select(:container, :room_id, Room.all, :id, :name, :prompt => true)%>
  </div> 
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :exhibit %><br>
    <%= f.number_field :exhibit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
