<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

  <strong>Cases in Room:</strong>

<table>
  <tbody>
    <%  @room.containers.each do |container| %>
      <tr>
        <td>Case #: <%= link_to container.number, container_path(container) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
